@{
    ViewData["Title"] = "Arquivo lido";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
    <body>
        <div>
            <table style="width:100%">
                @if (ViewBag.Data[0].Length < 1 || ViewBag.Data == null)
                {
                    <tr>
                        <td>A lista de tokens não conseguiu ser gerada...</td>
                    </tr>
                }
                else
                {
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#analise_sintatica">Resultado Análise Sintática</button>
                    <div id="analise_sintatica" class="collapse">
                        @if (ViewBag.Data[1] == "Código válido")
                        {
                            <h1 style="color: darkgreen">Código sintáticamente válido</h1>
                        }
                        else
                        {
                            <h1 style="color: red">Código sintáticamente inválido</h1>
                            <h2 style="color: red">@ViewBag.Data[1]</h2>
                        }
                    </div>
                    
                    <br />
                    <br />
                    
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#analise_lexica">Resultado Análise Léxica</button>
                    <tr id="analise_lexica" class="collapse">
                        <th>Lexema</th>
                        <th>Token</th>
                        <th>Símbolo</th>
                    </tr>
                    @foreach (string text in ViewBag.Data[0])
                    {
                        string val0 = text.Split(@"\")[0];
                        string val1 = text.Split(@"\")[1];
                        string val2 = text.Split(@"\")[2];
                        @if (val1 == "ERRO")
                        {
                            <tr style="color:red" id="analise_lexica" class="collapse">
                                <td>@val0</td>
                                <td>@val1</td>
                                <td>@val2</td>
                            </tr>
                        }
                        else
                        {
                            <tr id="analise_lexica" class="collapse">
                                <td>@val0</td>
                                <td>@val1</td>
                                <td>@val2</td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </body>
</html>
